*,
*::before,
*::after {
    box-sizing: border-box;
}

.hide {
    display: none;
}
.show {
    display: flex;
    flex-direction: column;

}

ul {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: column;

}

h3 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 24px;
    text-align: center;
}

.navbar {
    width: 100%;
    /* position: fixed; */
    top: 0px;
    height: 60px;
    display: inline-flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: #a12d4485;
    z-index: 1;
}
.navbar ul{
    top: 0px;
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar ul li {
    display: inline-flex;
    color: #000;
}

.timer-control li {
    align-items: center;

}
h3.timer-count {
    margin:0 10px;
}

.opening-section {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    line-height: 1.5;
    text-align: center;
}
.opening-section h2 {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
}

#quiz-game {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.answer-text {
    padding:5px;
    background-color: aqua;
    margin: 1px;
}

.start-bttn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}
.start-bttn {
    padding: 10px 20px;

}

.submit-score {
    padding: 50px;
    width: fit-content;
}
.submit-score p {
    display: inline-flex;
    align-items: center;
    padding: 10px;
}
.submit-score {
    display: flex;
    align-items: center;
}
.submit-score button {
    display: inline-flex;
    align-items: center;
    padding: 3px;
    margin: 10px;
}