*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #db6c6c85;
}
/* main screen layout screen formatting */
.header {
    display: flex;
    flex-direction: column;

}

ul {
    list-style: none;
}

h3 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
}

/* navbar including timer bar */
.navbar {
    width: 100%;
    top: 0px;
    height: 60px;
    display: inline-flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 132, 132);
    z-index: 1;
}
.navbar ul{
    top: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul li {
    display: inline-flex;
    color: #000;
}

.timer-control li {
    align-items: center;

}
h3.timer-count {
    margin:0 10px;
}

/* formatting for the opening screen which shows the rules*/
.opening-heading {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 24px;
    text-align: center;
}

.opening-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15%;
    line-height: 1.5;
    text-align: center;
}
.opening-section h2 {
    display: flex;
    justify-content: center;
}

/* formatting for the main quiz section including the button element*/
#quiz-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:25%;
    max-width: 500px;
}
#options {
    padding-bottom: 20px;
    border-bottom: #000 1px solid;
}
#options button {
    display: flex;
    flex-direction:column;
    padding:4px;
    margin: 3px;
    background-color: rgb(243, 105, 105);
    color: #000;
    border: #000 2px solid;
    border-radius: 3px;
}

#answer-result {
    font-size: 20px;
    padding:5px;
    margin: 1px;
    font-style: italic;
}

.start-bttn-container {
    display: flex;
    justify-content: center;
    margin: 0 35%;
}
.start-bttn {
    display: flex;
    padding: 5px;
    width: 100px;
    justify-content: center;
}

/* formatting for the End Quiz and score display and submission section*/
#score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25%;
}

#score-container h2 {
    text-align: center;
    margin:0;
}

#score-container p {
    text-align: center;
}

.submit-score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-score p {
    display: inline-flex;
    align-items: center;
    padding: 10px;
}

.submit-score button {
    display: inline-flex;
    align-items: center;
    padding: 3px;
    margin: 10px;
}

/* formatting for the Highscores - to display all highscores saved*/
#all-highscores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25%;
}

#all-highscores-container button {
    display: inline-flex;
    align-items: center;
    padding: 4px;
    width: fit-content;
}

.display-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

/* formatting used in the jAvascript to shwo and hide different elements in the quiz game */
.hide {
    display: none;
}
.show {
    display: flex;
    flex-direction: column;
}